<div class="poster-container">
    <img src="../../../assets/Indian-Wedding-Photography-30.jpeg" alt="poster" class="poster-image">
</div>
<div class="product-categories">
    <p>Product Categories</p>
    <div class="categories-container">
      
      <div class="category-item" (click)="navigateToCategory('top-dupatta-set')">
        <img src="../../../assets/top&pants.webp" alt="Top & Dupatta Set">
        <p>Top & Dupatta Set →</p>
      </div>
  
      <div class="category-item" (click)="navigateToCategory('kurtis')">
        <img src="../../../assets/kurthies.jpg" alt="Kurtis">
        <p>Kurtis →</p>
      </div>
  
      <div class="category-item" (click)="navigateToCategory('top-pant-set')">
        <img src="../../../assets/top&pants.webp" alt="Top & Pant Set">
        <p>Top & Pant Set →</p>
      </div>
  
      <div class="category-item" (click)="navigateToCategory('salwar-suit')">
        <img src="../../../assets//salwara.avif" alt="Salwar Suit">
        <p>Salwar Suit →</p>
      </div>

      <div class="category-item" (click)="navigateToCategory('saree')">
        <img src="../../../assets/Indian-Saree-Collection-2.jpg" alt="Saree">
        <p>Saree →</p>
      </div>
  
    </div>
  </div>
  