<footer class="footer">
    <div class="footer-container">
      <!-- Left: Social Media Links -->
      <div class="footer-left">
        <a href="https://www.facebook.com" target="_blank">
          <img src="../../../assets/facebook (2).svg" alt="Facebook">
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <img src="../../../assets/instagram-logo-fill.svg" alt="Instagram">
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <img src="../../../assets/twitter.svg" alt="Twitter">
        </a>
      </div>
  
      <!-- Center: Copyright -->
      <div class="footer-center">
        <p>&copy; 2024 Sati. All rights reserved.</p>
      </div>
  
      <!-- Right: Contact Details -->
      <div class="footer-right">
        <p>Contact Us</p>
        <p>Email: <a href="mailto:contact@sati.com">contact@sati.com</a></p>
        <p>Phone: <a href="tel:+919876543210">+91 98765 43210</a></p>
        <p>Address: Hyderabad, India</p>
      </div>
    </div>
  </footer>
  